body{
    margin: 8px;
}

h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}

img { 
    border: 10px solid #000000;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    margin: auto;
    display: block;
}